/* =============================================================
        Botão engrenagem
============================================================== */
.config-fundo{      /* botão configurações */
    position: absolute;
    top: 20px;
    right: 60px;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 4px;
}

.config-fundo img{
    width: 38px;
}

.config-fundo:hover{
    background-color: grey;
    opacity: 0.7;
    cursor: pointer;
}

/* =============================================================
        menu
============================================================== */
.menuConfig {
    position: fixed;
    background-color: white;
    color: black;
    display: flex;
    margin: auto;
    margin-top: 20px;
    width: 80%;
    height: 600px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 0px #222222c7;
    z-index: 100;
}

#configHead {
    position: absolute;
    display: flex;
    background-color: var(--ButtonCor);
    width: 100%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    color: white;
}


#configHead p {
    margin-left: 10px;
 }

#configHead button {
    position: absolute;
    right: 0;
    height: 50px;
    width: 50px;
    color: white;
    border-top-right-radius: 9px;
    border: none;
    z-index: 10000;
}

#configHead button:hover {
    cursor: pointer;
    background-color: var(--buttonOff_cor);
}

.menuConfig h2:hover{
    cursor: pointer;
    color: rgb(0, 107, 107);
}
   
/* ======= Lista ====  */
#configLista {
    border-right: solid 1px black;
    margin-left: 18px;
    margin-right: 19px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 187px;
}

#configLista p:hover {
    cursor: pointer;
    color: rgb(0, 107, 107);
}

/* ======= Conteudo ====  */
#configConteudo {
    position: relative;
    width: 99.8%;
    height: 549px;
    margin-top: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* ========================================
       Personalizar
========================================= */
#personalizar {
    position: absolute;
    width: 99%;
    height: 100%;
}

/* ======= Monet ====  */
#monetScroll {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 326px;;
  
}

#imagensMonet {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.elemento {
    position: relative;
    width: 203px;
    height: 181px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elemento img {
    height: 100px;
    position: absolute;
    transition: 1s;
    border-radius: 8px;
    box-shadow: 1px 1px 8px 0px #2222229c;
}

.elemento img:hover {
    height: 120px;
    z-index: 10;
    transition: 0.5s;
    cursor: pointer;
}

/* ======= Paisagens ====  */

#paisagensScroll {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 326px;;
  
}

#paisagensImagens {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#paisagensElemento {
    position: relative;
    width: 203px;
    height: 181px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#paisagensElemento img {
    height: 100px;
    position: absolute;
    transition: 1s;
    border-radius: 8px;
    box-shadow: 1px 1px 8px 0px #2222229c;
}

#paisagensElemento img:hover {
    height: 120px;
    z-index: 10;
    transition: 0.5s;
    cursor: pointer;
}


