/* =====================
        noticias
===================== */

#ancora-noticias{
    height: 130px;
    margin-bottom: 5px;
}

#noticias {
    display: flex;
    justify-content: center;
}

 #noticias section {         /* para todos os section*/
    margin-right: 5px;
    height: 130px;
}

#noticias img  {
    width: 260px; 
    height: 130px;
    opacity: 0.8;
}

#noticias1{     
    border-top-left-radius: 34px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#noticias1 img{     
    border-top-left-radius: 34px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    opacity: 0.7;
}
#noticias1 div{     
    border-top-left-radius: 34px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#noticias3{     /* mudar de acordo com ultimo item das noticias */
    margin-right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 0;
}
#noticias3 img{     /* mudar de acordo com ultimo item das noticias */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 0;
   
}
#noticias3 div{     /* mudar de acordo com ultimo item das noticias */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 0;
    
}

/* --------------------------- */

#ancora-noticias2{
    height: 130px;
    margin-bottom: 68px;
}

#noticiasA{     
    border-bottom-left-radius: 34px;
}
#noticiasA img{     
    border-bottom-left-radius: 34px;
    border: none;
    opacity: 0.7;
}
#noticiasA div{     
    border-bottom-left-radius: 34px;
}

#noticiasC {     /* mudar de acordo com ultimo item das noticias */
    border-bottom-right-radius: 34px;
}
#noticiasC img{     /* mudar de acordo com ultimo item das noticias */
    border-bottom-right-radius: 34px;
}
#noticiasC div{     /* mudar de acordo com ultimo item das noticias */
    border-bottom-right-radius: 34px;
}
/* --------------- */
.botao2{
    width: 100%;
    height: 29px;
    background: #363636;
    border: none;
    color: white;
    margin-bottom: 0;
    opacity: 0.8;
    
}
.botao2:hover{
    background-color: grey;
    cursor: pointer;
}

.iframe {
    width: 100%;
    height: 627px;
    border: none;
    background-color: white;
    opacity: 0.8;
}

#hover-news {
    opacity: 0;
    width: 260px; 
    height: 130px; 
    margin-top: -134px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

#div-news {
    background-color: rgb(38, 45, 66);
    opacity: 0.5;
    width: 260px; 
    height: 130px;
    position: absolute;
    margin-bottom: 0px;
    
}


#hover-news h1{
    position: absolute;
    font-size: 35px;
}

#hover-news:hover {
    opacity: 1;
    color: white;
    box-shadow: 1px 1px 8px 0px #000000;
    cursor: pointer;
}

/* =========== Priincipais noticias ========= */
#ancora-principais{
    width: 100%;
    height: 60px; 
    bottom: 0;
    padding: 0;
    margin-bottom: 0;
}

#button-principais{
    width: 100%;
    height: 60px;
    background: #363636;
    border: none;
    color: white;
    margin-bottom: 0;
    opacity: 0.7;
    bottom: 0;
    margin-bottom: 0;
      
}

#button-principais:hover{
    background-color: grey;
    cursor: pointer;
}
/* ========================================== */