/* =====================
        news-icon
===================== */
.news-icon-div{      /* botão apps (grade bolinhas) */
    position: absolute;
    top: 600px;
    left: 20px;
    width: 255px;
    height: 45px;
    align-items: center;
    display: flex;
    border-radius: 4px;
}
.news-icon{      /* botão apps (grade bolinhas) */
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 4px;
}
.news-icon:hover{             
    background-color: grey;
    opacity: 0.7;
    cursor: pointer;
}

.news-icon img {
    width: 43px;
}

.news-icon:hover + #news-p {
    opacity: 1;
    transition: 1s;
    width: 115px;
    font-size: 12px;
}
#news-p {
    font-size: 0;
    opacity: 0;
    transition: 1s;
    cursor: default;
    background-color: rgb(204, 223, 235);
    border-radius: 10px;
    color: black;
    height: 23px;
    width: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 5px;
}

#news-p:hover {
    opacity: 0.6;
    transition: 1s;
}



/* =====================
        news-head
===================== */
.news-head {
    display: flex;
    background-color: var(--ButtonCor);
    opacity: 0.8;
    height: 30px;
    align-items: center;
    font-size: 14px;
}

.news-head img {
    transition: 0.1s;
    margin-left: 10px;
    height: 20px;
    width: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.news-head img:hover {
    cursor: pointer;
    filter: opacity(0.7) drop-shadow(0 0 0  black);
    transition: 0.1s;
}

/* ------------------------ */
.news-head a{
    display: flex;
    color: white;
}

.news-head p {
    margin: 10px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.news-head p:hover{
    cursor: pointer;
    color: var(--textoCor_hover);
}

.news-head button {
    position: absolute;
    right: 0;
    height: 30px;
    border: none;
    color: white;
    width: 40px;
    transition: 0.1s;
}
.news-head button:hover {
    cursor: pointer;
    background-color: var( --buttonOff_cor);
    transition: 0.1s;
}

/* =====================
        noticias
===================== */
.div-noticias{
    width: 799px;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 265px;
    margin-bottom: 5px;
}

#ancora-noticias{
    height: 130px;
    margin-bottom: 5px;
}

#noticias {
    display: flex;
    justify-content: center;
}

 #noticias section {         /* para todos os section*/
    margin-right: 5px;
    height: 130px;
}

#noticias img  {
    width: 260px; 
    height: 130px;
    opacity: 0.8;
}

#noticias1{     
    border-top-left-radius: 34px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#noticias1 img{     
    border-top-left-radius: 34px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    opacity: 0.7;
}
#noticias1 div{     
    border-top-left-radius: 34px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#noticias3{     /* mudar de acordo com ultimo item das noticias */
    margin-right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 0;
}
#noticias3 img{     /* mudar de acordo com ultimo item das noticias */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 0;
   
}
#noticias3 div{     /* mudar de acordo com ultimo item das noticias */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 0;
    
}

/* --------------------------- */

#ancora-noticias2{
    height: 130px;
    margin-bottom: 5px;
}

#noticiasA{     
    border-bottom-left-radius: 34px;
}
#noticiasA img{     
    border-bottom-left-radius: 34px;
    border: none;
    opacity: 0.7;
}
#noticiasA div{     
    border-bottom-left-radius: 34px;
}

#noticiasC {     /* mudar de acordo com ultimo item das noticias */
    border-bottom-right-radius: 34px;
}
#noticiasC img{     /* mudar de acordo com ultimo item das noticias */
    border-bottom-right-radius: 34px;
}
#noticiasC div{     /* mudar de acordo com ultimo item das noticias */
    border-bottom-right-radius: 34px;
}
/* --------------- */
.iframe {
    width: 100%;
    height: 627px;
    border: none;
    background-color: white;
    opacity: 0.9;
}

#hover-news {
    opacity: 0;
    width: 260px; 
    height: 130px; 
    margin-top: -134px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}

#div-news {
    background-color: rgb(38, 45, 66);
    opacity: 0.5;
    width: 260px; 
    height: 130px;
    position: absolute;
    margin-bottom: 0px;
}


#hover-news h1{
    position: absolute;
    font-size: 35px;
}

#hover-news:hover {
    opacity: 1;
    color: white;
    box-shadow: 1px 1px 8px 0px #000000;
    cursor: pointer;
    transition: 0.2s;
}

/* =========== Priincipais noticias ========= */
.ancora-principais {
    display: flex;
    width: 733px;
    height: 100%; 
}

.div-principais{
    display: flex;
    width: 733px;
    bottom: 0;
    height: 10px;
    padding: 0;
    opacity: 0;
    margin-bottom: 118px;
    transition: 1s;
}

.div-principais:hover{
    opacity: 1;
    height: 60px;
    margin-bottom: 68px;
    transition: 0.3s;
}

.div-noticias:hover + .div-principais {
    opacity: 1;
    height: 60px;
    margin-bottom: 68px;
    transition: 0.5s;
}


#button-principais{
    width: 365.5px;
    height: 100%;
    background: #363636;
    color: white;
    border: none;
    margin-bottom: 0;
    opacity: 0.7;
    bottom: 0;
    border-bottom-left-radius: 34px;
    margin-bottom: 0;    
}

#button-principais:hover{
    opacity: 1;
    cursor: pointer;
    box-shadow: 1px 1px 8px 0px #000000;

}

#button-principais-user{
    width: 365.5px;
    height: 100%;
    background: #363636;
    color: white;
    border: none;
    margin-bottom: 0;
    opacity: 0.7;
    bottom: 0;
    border-bottom-right-radius: 34px;
    margin-bottom: 0;    
}

#button-principais-user:hover{
    opacity: 1;
    cursor: pointer;
    box-shadow: 1px 1px 8px 0px #000000;
}

/* ========================================== */